* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 148, 207);
}

.new-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: #2c3853;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 500px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
    padding: 10px;
    width: 167px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}