* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(198 198 209);
    ;
    /* background-color: #9886BE; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    background-color: #7763a0;
    padding: 20px;
    border-radius: 5px;
}

.container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.form button {
    font-size: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.form input {
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.form img {
    transition: height 0.5s ease;
    border-radius: 5px;
    height: 270px;
    padding: 40px;
    border: 1px solid black;
    width: 270px;
}