* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
body {
    background-color: rgb(202, 160, 243);
}

.container_main {
    display: flex;
    flex-direction: column;
    top: 30%;
    position: absolute;
    align-items: center;
    width: 100vw;
}
.container {
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.button button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    margin: 10px 0;
    background-color: black;
    color: white;
    text-transform: capitalize;
}
